body {
    font-family: Arial;
}

.grid {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.coluna {
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}

@media (max-width: 440px) {
    .grid {
        grid-template-columns: 100%;
    }
}